name: Deploy Website to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup SSH key
      uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

    - name: Run deploy.sh
      run: |
        chmod +x ./deploy.sh
        ./deploy.sh
      env:
        PUBLIC_IP: ${{ secrets.EC2_PUBLIC_IP }}
        KEY_PATH: ${{ secrets.EC2_SSH_KEY }}
        USER: ubuntu
